body {
    background-color: lightblue;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;
}

header {
    text-align: center;
    font-size: 35px;
    color: white;
    font-variant: small-caps;
    font-family: georgia;

h1 {
    font-family: georgia;
    color: white;
    text-align: center;
    font-size: 30px;
}

p  {
    color: green;
    font-size: 20px;
}

div {
    font-family: georgia;
    color: black;
    font-size: 20px;
}

#list1 {
    display: none;
}

#pix {
    display: none;
    list-style-type: none;
}
