body {
    background-color: lightblue;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;
}

h1 {
    color: white;
    text-align: center;
}

p  {
    color: black;
    font-size: 25px;
}

list1 {
    display: none;
}

div {
    font-family: verdana;
    color: green;
    font-size: 30px;
}
